<?xml version='1.0' encoding='utf-8'?>
<!--
This file contains accuracies of all entityextractor's methods.
It's used in top-level extractors
-->
<entityextractor>
    <method name="find_title" accuracy="0.73"/>
    <method name="find_booktitle" accuracy="0.71"/>
    <method name="find_publisher" accuracy="0.752"/>
    <method name="find_published_date" accuracy="0.77"/>
    <method name="find_authors" accuracy="0.69"/>
    <method name="find_editors" accuracy="0.70"/>
    <method name="find_event" accuracy="0.82"/>
    <method name="find_organization" accuracy="0.9"/>
    <method name="find_location" accuracy="0.34"/>
    <method name="find_project" accuracy="0.61"/>
    <method name="find_isbn" accuracy="0.89"/>
    <method name="find_issn" accuracy="0.67"/>
    <method name="find_pages" accuracy="0.93"/>
    <method name="find_volume" accuracy="0.94"/>
    <method name="find_to_appear" accuracy="0.99"/>
    <method name="find_telephone" accuracy="0.71"/>
    <method name="find_fax" accuracy="0.54"/>
    <method name="find_url" accuracy="0.80"/>
</entityextractor>

