{% if not s %}
     <center><h4>No projects were found.</h4></center>
 {% endif %}
 
 {% for item in s %}
     <a href="project/{{ item.id }}"><h3>
         {% if item.abbr %}
         &#91; {{ item.abbr }} &#93;
         {% endif %}
         {% if item.title %}
             {{ item.title.title() }}
         {% endif %}
     </h3></a>
     {% if item.es_meta.highlight['objective'] %}
         <p> ...{{ '...'.join(item.es_meta.highlight.objective)|safe }}... </p>
     {% elif item.objective %}
         <p> {{ item.objective[:200] }}... </p>
     {% endif %}
 {% endfor %} 
 
<!-- navigace mezi strankami -->
{% if s %}
<div id="pager">
        <form action="/find" method="GET">
            <input type="hidden" name="search" value="{{ search }}" />
            {% if page>0 %}
                <button type="submit" class="btn btn-default" name="page" value="{{ (page-1) if (page>0) else 0 }}">Prev</button>
                {% if s.count()>=20 %}
                	<button type="submit" class="btn btn-default" name="page" value="{{ (page+1) }}">Next</button>
            	{% endif %}
            {% else %}
                {% if s.count()>=20 %}
                	<button type="submit" class="btn btn-default" name="page" value="{{ (page+1) }}">Next</button>
                {% endif %}
            {% endif %}
        </form>
</div>
{% endif %}
<!-- We need search value in find.html if no projects are there, the search above would be ignored -->
<input type="hidden" name="search" value="{{ search }}" />
