<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>European Research Projects Portal</title>
		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" >
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<!--Horni nabidka s vyhledavacim polem, tlacitkem search - ukladaji se hodnoty: keyword(zadany vyraz k hledani), 
		search_pressed(True/False) - abychom vedeli zda mame zpracovavat vyraz nebo ziskana tlacitka-->
		<div class="row" id="subheader">
			<div class="col-lg-2 hidden-xs">
				<div class="input-group">
					<a href="/"><img alt="logo" src="static/img/logo.jpg"></a>
				</div>
			</div>
			<div class="col-lg-8" id="sub-tab">
				<form action="/find" method="GET" class="input-group">
					<input type="hidden" name='option[]' value="">
					<input type="text" name="search" class="form-control" value='{{ search }}'>
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">Search</button>
					</span>
				</form>
			</div>
        </div>      
     
		<div class="row">
			<!-- bocni menu s checkboxy-->
			<div class="col-lg-2" id="dropdowns">
				{% for facet in f %}						
				<div class="button-group">				
        			<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        				{{ facet[0].title() }}
        			</button>
        			<span class="caret"></span>
					<ul class="dropdown-menu">
					{% for facet2 in facet[1] %}
  						<li><a href="#" class="small" data-value="{{ facet[0] }}={{ facet2[0][:50] }}" tabIndex="-1" 
	  						{% if facet[0] ~ "=" ~ facet2[0][:50] in checkbox %}
	  							checked
	  						{% endif %}>
  						<input type="checkbox" value="{{ facet[0] }}={{ facet2[0][:50] }}" 
  							{% if facet[0] ~ "=" ~ facet2[0][:50] in checkbox %}
  								checked
  							{% endif %}/>
  							&nbsp;{{ facet2[0][:50].title() }}
  						</a></li>
  					{% endfor %}
					</ul>
				</div>
				{% endfor %}
			</div>

			<!-- jednotlive projekty -->
		    <div class="col-lg-10" id="articles">
			    {% if not s %}
			        <center><h4>No projects were found.</h4></center>
			    {% endif %}
			    
			    {% for item in s %}
			        <a href="project/{{ item.id }}"><h3>
			            {% if item.abbr %}
			            &#91; {{ item.abbr }} &#93;
			            {% endif %}
			            {% if item.title %}
			                {{ item.title.title() }}
			            {% endif %}
			        </h3></a>
			        {% if item.es_meta.highlight['objective'] %}
			            <p> ...{{ '...'.join(item.es_meta.highlight.objective)|safe }}... </p>
			        {% elif item.objective %}
			            <p> {{ item.objective[:200] }}... </p>
			        {% endif %}
			    {% endfor %} 

				<!-- navigace mezi strankami -->
				{% if s %}
				<div id="pager">
				    <form action="/find" method="GET">
				        <input type="hidden" name="search" value="{{ search }}" />
				        {% if page>0 %}
				            <button type="submit" class="btn btn-default" name="page" value="{{ (page-1) if (page>0) else 0 }}">Prev</button>
				            {% if s.count()>=20 %}
				            	<button type="submit" class="btn btn-default" name="page" value="{{ (page+1) }}">Next</button>
				        	{% endif %}
				        {% else %}
				            {% if s.count()>=20 %}
				            	<button type="submit" class="btn btn-default" name="page" value="{{ (page+1) }}">Next</button>
				            {% endif %}
				        {% endif %}
				    </form>
				</div>
				{% endif %}
			</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script>
			var options = [];
			$( '.dropdown-menu a' ).on( 'click', function( event ) {

				var $target = $( event.currentTarget ),
				val = $target.attr( 'data-value' ),
				$inp = $target.find( 'input' ),
				idx;

				if ( ( idx = options.indexOf( val ) ) > -1 ) {
					options.splice( idx, 1 );
					setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
				} else {
					options.push( val );
					setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
				}
				$( event.target ).blur();

				$.post( "/find", { search: "{{ search }}", 'option[]': options }, function(response) {
					$('#articles').html(response);
				});
				$( "input[name='option[]']" ).attr( "value", options );
				console.log( options );
				return true;
			});
		</script>
	</body>
</html>
